<footer class="app-footer">
	<p> Powered by <a href="https://hexo.io.com"> Hexo </a> </p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<!-- http://libs.useso.com/js/jquery/2.1.1/jquery.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<!-- http://libs.useso.com/js/fancybox/2.1.5/jquery.fancybox.min.js -->
<%- js('js/app') %>