<footer class="app-footer">
	<p> Powered by <a href="https://hexo.io.com"> Hexo </a> </p>
</footer>
<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
<script src="http://libs.useso.com/js/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
$('.zoom').fancybox();
$(window).scroll(function(){
	if ($(this).scrollTop() > 1){
		$('.app-navbar').addClass('slim');
	} else {
		$('.app-navbar').removeClass('slim');
	}
});
</script>